@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.grid-stacking {
  @apply grid;

  grid-template-areas: "stack";
  > * {
    grid-area: stack;
  }
}

.post-body {
  h1 {
    @apply font-bold mb-3;
  }
  p {
    @apply my-6;
  }
  blockquote {
    @apply font-bold border-l-4 border-green ml-4 pl-4 my-6;
  }
  img {
    @apply my-6 w-full;
  }
}
